.about {
  &-title {
    margin: 150px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: $black;
    width: 70%;
  }
  &-information {
    background-color: $blue2;
    padding: 100px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 40px;
    column-gap: 70px;
    justify-content: center;
    &-item {
      &-head {
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 35px;
        img {
          height: 80px;
          width: 80px;
        }
        h5 {
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          color: $blue;
        }
      }
      &-body {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        color: $black;
      }
    }
  }
}
