.contacts {
  padding: 60px;
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $blue;
    text-align: start;
    margin-bottom: 50px;
  }
  &-body {
    display: flex;
    justify-content: space-between;
    &-info {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 40px;
      & > li {
        display: flex;
        align-items: center;
        gap: 30px;
        & > img {
          height: 35px;
          width: 35px;
        }
        & > span {
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          color: $black;
        }
      }
    }
    &-social_media {
      margin-top: auto;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 60px;
      & > li a img {
        width: 55px;
        height: 55px;
      }
    }
  }
}
