.header {
  background-image: url(../img/unsplash_UYXBqnIBtuI.png);
  background-repeat: no-repeat;
  background-size: 100% 135%;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &-information {
    background: $silver;
    padding: 50px;
    width: 60%;
    z-index: 2;
    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: $blue;
      margin-bottom: 30px;
    }
    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      color: $black;
    }
  }
  & > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(125, 101, 173, 0.1);
    backdrop-filter: blur(6px);
  }
}
