.layout {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: #d7d7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes ldio-515bm5utlvu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-515bm5utlvu > div > div {
  position: absolute;
  border-radius: 50%;
}
.ldio-515bm5utlvu > div > div:nth-child(1) {
  top: 30px;
  left: 30px;
  width: 140px;
  height: 140px;
  background: #f1f2f3;
}
.ldio-515bm5utlvu > div > div:nth-child(2) {
  top: 39.800000000000004px;
  left: 79px;
  width: 42px;
  height: 42px;
  background: #a5b6f0;
  animation: ldio-515bm5utlvu 1s linear infinite;
  transform-origin: 21px 60.199999999999996px;
}
.loadingio-spinner-disk-hce8vu6dwa4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-515bm5utlvu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-515bm5utlvu div {
  box-sizing: content-box;
}
