.navigation {
  padding: 0 50px;
  height: 100px;
  display: flex;
  // position: sticky;
  // top: 0;
  // z-index: 100;
  background: $silver;
  & > img {
    width: 80px;
    height: 80px;
  }
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    flex: 1;
    &-item {
      a {
        text-decoration: none;
        color: $black;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
