.news {
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $blue;
    margin: 60px;
    text-align: center;
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
    &-item {
      width: 600px;
      display: flex;
      flex-direction: column;
      & > img {
        width: 100%;
        flex: 3;
      }
      &-content {
        padding: 25px;
        background: $blue;
        & > p {
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          color: $silver2;
          padding-bottom: 20px;
        }
        & > a {
          margin-left: auto;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 20px;
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 30px;
          color: $silver2;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
