.pricing_policy {
  margin: 100px 0;
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $blue;
    margin-bottom: 40px;
  }
  &-text {
    width: 80%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: $black;
    text-align: center;
  }
}
