.services {
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $blue;
    text-align: center;
    margin-top: 60px;
  }
  &-list {
    &-item {
      padding: 60px 70px;
      background: $white;
      &:nth-child(2n) {
        background: $blue2;
      }
      &-body {
        display: flex;
        gap: 100px;
        margin-bottom: 90px;
        &-content {
          flex: 1;
          &-title {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: $blue;
            margin-bottom: 40px;
          }
          &-short_description {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: $black;
            margin-bottom: 40px;
          }
          &-description {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            color: $black;
          }
        }
        & > img {
          height: 100%;
        }
      }
      &-steps {
        display: flex;
        flex-wrap: wrap;
        gap: 75px;
        justify-content: space-around;
        list-style: none;
        &-item {
          width: 400px;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 34px;
          color: $black;
          counter-increment: inst;
          position: relative;
          &::before {
            content: counter(inst);
            position: absolute;
            font-style: normal;
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 195px;
            line-height: 238px;
            color: rgba(52, 57, 119, 0.15);
            top: -100px;
            left: -50px;
          }
        }
      }
    }
  }
}
