.support {
  background: url(../img/unsplash_UYXBqnIBtuI.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $blue;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 600px;
    & > input,
    textarea {
      background: $silver2;
      border-radius: 5px;
      border: none;
      padding: 25px 50px;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.5);
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    & > button {
      background: $blue;
      border: none;
      cursor: pointer;
      padding: 20px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 41px;
      color: $silver2;
      text-align: center;
      text-transform: capitalize;
      &:hover {
        background: darken($color: $blue, $amount: 10);
      }
    }
  }
}
