.vacancy {
  margin: 0 70px;
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $blue;
    margin: 60px;
    text-align: center;
  }
  &-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    margin-bottom: 100px;
    &-item {
      width: 500px;
      background: $blue2;
      padding: 50px 30px;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: $blue;
        text-align: center;
        margin-bottom: 70px;
      }
      &-description {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: $black;
        margin-bottom: 40px;
      }
      &-criterias {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: $black;
        & > ul {
          list-style-type: "- ";
          margin-left: 20px;
        }
      }
    }
  }
  &-order {
    display: flex;
    gap: 100px;
    &-content {
      flex: 3;
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 41px;
        color: $black;
        margin-bottom: 60px;
      }
      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 41px;
        color: $black;
        margin-bottom: 60px;
      }
      & > img {
        width: 100%;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      gap: 60px;
      & > input,
      textarea {
        background: $silver2;
        border-radius: 5px;
        border: none;
        padding: 25px 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.5);
        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      & > button {
        background: $blue;
        border: none;
        cursor: pointer;
        padding: 20px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: $silver2;
        text-align: center;
        text-transform: capitalize;
        &:hover {
          background: darken($color: $blue, $amount: 10);
        }
      }
    }
  }
}
