@import "../../../shared/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
}

@import "./components/nav.scss";
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/services.scss";
@import "./components/vacancy.scss";
@import "./components/news.scss";
@import "./components/pricing_policy.scss";
@import "./components/support.scss";
@import "./components/contacts.scss";
@import "./components/loader.scss";
